body {
    height: 100vh;
    background-image: linear-gradient(180deg, #fda085 0%, #f6d365 100%, #fda085 1%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.logo-box {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.7);
}

.login-box {
    height: 220px;
    width: 300px;
    padding: 10px;
}

.lgb-cm{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
}
.inp-none{
    border: none;
}

.reg-box,
.pass-box {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    padding: 5px;
    box-shadow: 1px 1px 4px  rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pass-box{
    display: none;
}
.pass-box-show{
    display: flex;
}
.sign-in {
    border: none;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);

    background: #FF5F6D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,rgba(245, 101, 113, 0.7), #FFC371, rgba(245, 101, 113, 0.7));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(245, 101, 113, 0.7), #FFC371, rgba(245, 101, 113, 0.7));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sign-in:active{
    transform: translateY(4px);
    transition: 0.2s;
}
.forget-box{
    text-align: center;
}
.forget{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.svg {
    width: 15px;
    border-right: 1px solid #fda085;
    padding-right: 2px;
}
.eye_svg {
    width: 15px;
    border-right: 1px solid #fda085;
    margin-left: auto;
    border: none;
    margin-right: 1px;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    height: 100%;
    border: none;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 4px;
    outline: none;
}
::placeholder {
    color: rgb(0, 0, 0, 0.5);
    letter-spacing: 0.7px;
}

