.title_bar{
    background-color: #F8F9FA;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    height: 7vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111111;
}

.side_panel_btn, .notification{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.nav{
    background-color: #F8F9FA;
    box-shadow: 1px -2px 4px rgba(0, 0, 0, 0.5);
    height: 10vh;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_box{
    width: 80px;
    height: 100%;
    padding: 3px;
    transition: 0.5s;
}
.nav_box_pic{
    width: 35px;
    margin: auto;
}
.nav_box_txt{
    width: 100%;
    font-size: small;
    word-wrap: break-word;
    text-align: center;
}
.nav_box:hover{
    transition: 0.5s;
    transform: scale(0.9);
}